[2017-06-21 05:09] pimbongaerts opened #1 "Twitter API connection"
When app cannot connect to Twitter API in `PagesController` it currently breaks. Can we solve this with something like `begin` / `rescue`?

[2017-06-21 09:26] #1 closed, assigned to nobody

[2017-06-28 00:54] pimbongaerts opened #4 "Publications - Advanced Search"
Suggestion for Search in Publications - open to suggestions of course! Tried to lay it out, so we can just have a single basic/advanced search box that is mostly the same whether user is logged in as editor/admin or not.

For basic search (descriptions for all fields can be found [here](http://mesophotic.org/about)):

- [x] single search text box
- [x] dropdown with checkboxes to choose whether it

[2017-06-28 00:58] pimbongaerts opened #5 "Cleaning up references to CanCan gem"
Any references to [CanCan](https://github.com/ryanb/cancan) authorization gem can be removed - as not using anymore

[2017-06-28 00:58] pimbongaerts opened #6 "Cleaning up config/routes.rb"

[2017-08-10 07:02] veronicar239 opened #10 "Sort publications by number (for editors)"
On Publications page, can we add a column (visible to editors only?) with the publication entry number (i.e. number automatically generated when new publication created) and the ability to sort publications numerically by publication number?

[2017-08-14 01:33] veronicar239 opened #11 "'Behind the Science' tab in main menu"
Could you please create a separate tab in the main menu bar (top right of the template) for the archived Behind the Science content?

To discuss: what to name this page for the archives of both 'Behind the Science' features and potential future 'Early Career Scientists' features?

[2017-08-14 01:46] veronicar239 opened #12 "Images sorted by most recent"
Request to sort photos ('Image' page) by most recent photos first (to give newest photos greater visibility) with older photos pushed to end of archive.

[2017-09-13 03:37] pimbongaerts commented on #12
Good suggestion - now implemented. f16f17545f1c71d606d5246bfbeca365f8db329b

[2017-09-13 03:37] #12 closed

[2017-09-13 03:42] pimbongaerts commented on #10
Implemented - also hard-coded number of publications per page as 95 (for editors), so that current list can be divided into 4 section to slit up for validations.

@ryanbooker - note, some small changes in Publications MVC: f16f17545f1c71d606d5246bfbeca365f8db329b

[2017-09-13 03:42] #10 closed

[2017-09-21 21:12] pimbongaerts opened #14 "Error in validation index pages"
Validators getting a 500 Internal Server Error when trying to navigate to pages 2-5 on Publications page (editor/admin version).

Production log:
[code]

[2017-09-21 21:33] ryanbooker commented on #14
Bugger. Ok looking into it.

[2017-09-21 22:09] ryanbooker commented on #14
Fixed by f3a99cafbea03c0449760a52ceaa856f3986ff91

[2017-09-21 22:09] #14 closed

[2017-09-27 03:32] veronicar239 opened #15 "Members page URL buggy?"
When you type mesophotic.org/members into the browser (Firefox), the page does not load and says to check logs for error information. But if you refresh and load the page a second time, then the page loads fine.

[2017-09-27 23:45] pimbongaerts commented on #15
Thanks for pointing that out. It crashed if Featured Members did not have an Organisation listed - now fixed with 2d46b0b

[2017-09-27 23:45] #15 closed

[2017-10-02 00:48] pimbongaerts opened #16 "Removing all associated records through checkboxes"
The Publication edit page is not allowing you to delete all associations of a Publication to a particular model by unchecking all checkboxes in the form. For example: if you uncheck all locations or platforms from http://www.mesophotic.org/publications/38/edit - nothing changes when you "Update publication". If you make any changes (by adding or changing locations) - it works fine. Probably has so

[2017-10-02 04:03] ryanbooker commented on #16
Yeah. I can look into it. :)

[2017-10-04 08:19] ryanbooker commented on #16
Fixed in #be069ba

[2017-10-04 08:19] #16 closed

[2017-10-09 22:11] veronicar239 opened #17 "Creative Commons option for photos"
We discussed giving researchers the options to tick a box Y/N for Creative Commons licensing for the photos they share on the website. Could we add this option to the mesophotic.org/photos/new template page?

[2017-10-18 07:45] #11 closed

[2017-10-18 09:39] ryanbooker commented on #4
DONE!

[2017-10-18 09:39] #4 closed

[2017-11-06 00:15] pimbongaerts opened #18 "Changes to Boolean columns in Publications"
Add a column for "Temperate Mesophotic Ecosystems (TMEs)"
Show different text for these boolean values in Search form (with explanation, rather than just "MCE" or "mesophotic")

[2017-11-06 03:25] pimbongaerts opened #19 "Publications search / depth-range slider"
Currently any search on the Publications page seems to return an Internal Server Error: `NoMethodError (undefined method `>=' for nil:NilClass)`. This error occurs when Searching without making any adjustments to the slider (Chrome). In Firefox the slider does not seem to show up - and so always results in the error.

[2017-11-06 07:16] ryanbooker commented on #19
I've done a temporary fix for the crash. There is still a rendering issue on all browsers (which is what causes the crash). After clicking the link to "publications" in the navbar, the slider doesn't render. As soon as you refresh the page, either manually or by searching, the slider works again.

[2017-11-06 23:27] pimbongaerts commented on #17
Also good to add an extra column indicating whether the photo should be included in the Location pages? (to avoid including more technical photos)

[2017-11-07 09:44] ryanbooker commented on #19
This is fixed for now. Though I don't like the fix. I am still trying to find out why it's only needed for the initial load.

[2017-11-07 09:45] #19 closed

[2017-11-20 00:27] pimbongaerts opened #20 "Publications without depth range not showing in view"
Probably to do with the slider - but publications that do not have a depth range (or are `0`-`0`) do not show up in the view under default settings.

[2017-11-30 05:07] veronicar239 opened #21 "Retain two-part Author last name"
In the publication author list, when a first author’s last name has two parts (e.g. van Oppen), the publication states “van” as the last name thus becomes van et al. 2011 (e.g. publication #103) but it is actually van Oppen et al. 2011. How do we get it to recognize that this is two parts (any word(s) preceding the initials)?

[2017-12-04 01:26] ryanbooker commented on #21
Where do we get the name from in the first place? I would just drop initials, or the "first" name. Is there a convention in papers? There is probably a whole world of hidden complexity in identifying first/last names in different languages.

[2017-12-04 01:26] ryanbooker commented on #20
Ah ok. I'll try to look at this today. :)

[2017-12-07 13:01] ryanbooker commented on #20
I think I've fixed this.

[2017-12-07 13:01] #20 closed

[2018-01-24 08:46] ryanbooker opened #22 "Update Rails 4.2.x"
- [x] Update to latest Rails 4.2
- [x] Update gems
- [x] Update PaperClip > 5.1 to fix security issue

[2018-01-24 10:14] #22 closed

[2018-01-24 10:14] ryanbooker opened #23 "Update to Rails 5.x"
- [x] Update to Rails 5
- [x] Update to Rails 5.1

[2018-01-31 11:06] ryanbooker commented on #23
https://github.com/pimbongaerts/mesophotic/pull/24

[2018-02-07 04:26] pimbongaerts commented on #21
Fixed this (0f09e86) by splitting the first author string, and then taking all sections except for the last:

`first_author = first_author_full.split()[0..first_author_full.split().length-2].join(" ")`

[2018-02-07 04:26] #21 closed

[2018-02-07 04:58] pimbongaerts commented on #17
Creative Commons field now added (51bd156). Raised error with regards to [depreciated use](https://blog.bigbinary.com/2016/02/29/rails-5-improves-redirect_to_back-with-redirect-back.html) of `redirect_to :back` - so that update included in commit too.

[2018-02-07 05:27] pimbongaerts commented on #17
Also added the column indicating whether the photo should be included in the Location pages (b7bbe9c)

[2018-02-07 05:27] #17 closed

[2018-02-07 05:33] pimbongaerts opened #25 "Give a list of newest members on the People page"

[2018-02-07 07:49] #23 closed

[2018-02-07 08:15] ryanbooker opened #26 "Add publication year search scope and slider"

[2018-02-07 08:16] ryanbooker opened #27 "Summary page"
- [x] Generalise locations summary page
- [x] Update tags etc to link to summaries

See Locations, generalise to:
- Fields
- Focusgroups
- Platforms

[2018-02-07 08:39] #26 closed

[2018-02-08 05:27] ryanbooker commented on #6
Done.

[2018-02-08 05:27] #6 closed

[2018-02-08 08:04] ryanbooker commented on #27
done

[2018-02-08 08:04] #27 closed

[2018-02-12 23:05] pimbongaerts opened #28 "Member profiles not working"
Member profiles ([example](http://mesophotic.org/members/28)) not working since the new clickable categories. Probably not yet implemented on profile pages - but would you mind having a quick look?

[2018-02-12 23:20] ryanbooker commented on #28
Yep I’ll check it out. :)

[2018-02-14 07:32] veronicar239 opened #29 "Blog post error "Postable must exist""
@ryanbooker I'm having an issue adding a new blog post via http://www.mesophotic.org/admin/posts. The page to create a new post is working (I can enter the text) but when I click to Publish it is unable to publish the post quoting the error "Postable must exist".

[2018-02-14 07:57] ryanbooker commented on #29
Ok. I’ll have a look. Thanks. :)

[2018-02-15 01:31] ryanbooker commented on #29
Fixed. Marked portable as optional and fixed Markdown

[2018-02-15 01:31] #29 closed

[2018-02-21 08:16] ryanbooker commented on #5
done

[2018-02-21 08:16] #5 closed

[2018-02-21 08:49] ryanbooker opened #31 "Word cloud resizing is broken"

[2018-02-21 08:50] ryanbooker opened #32 "Make word cloud into links for automatically searching"

[2018-02-21 08:50] ryanbooker opened #33 "Mark keywords found in article abstract clickable search links"

[2018-03-08 11:06] veronicar239 opened #34 "word cloud slightly shifted onto text of blog post"
I noticed that the word cloud has slightly shifted into the space of the text of the blog post. Depending how the word cloud assembles, it sometimes slightly overlaps with the text of the blog post. Here is a blog post for reference:

http://mesophotic.org/posts/tom-shlesinger

[2018-03-09 01:52] ryanbooker commented on #34
Whoops. On it.

[2018-03-09 01:57] ryanbooker commented on #34
Can you please link me to all the pages that show word clouds?

[2018-03-09 02:19] ryanbooker commented on #34
Try now.

[2018-03-09 02:19] #34 closed

[2018-03-14 01:41] veronicar239 opened #35 "remove all numbers from word clouds"
I noticed in a "research keywords" word cloud (on a personal profile page) that a lot of numbers are showing up. Since it's impossible to manually exclude all combinations of numbers, would it be possible to exclude any and all numbers from word clouds? See file attached for example of issue

<img width="395" alt="screen shot 2018-03-14 at 11 37 32 am" src="https://user-images.githubusercontent.co

[2018-03-14 08:06] ryanbooker commented on #35
Fixed.

[2018-03-14 08:06] #35 closed

[2018-03-14 08:37] pimbongaerts opened #36 "Download page"
Create a download page at `http://www.mesophotic.org/download` which gives the option to download the Publications table (and associated fields) and explains basic importing/plotting in R

[2018-03-14 09:16] pimbongaerts opened #37 "Add short descriptions to Locations table"
To enable hyperlinking in wordcloud

[2018-03-14 09:27] pimbongaerts opened #38 "Media gallery"
Create a separate photo gallery for use by media. Include only those that are tagged as  "Creative Commons" and "Media" (new column)

[2018-03-14 09:43] pimbongaerts opened #39 "Newsfeed"
Create a "newsfeed" instead of the "Latest Publications" feed on the home page. The Newsfeed would list the latest publications, posts, members and photos. Probably easiest to find the 10 most recent records from those models (Publications, Posts, Users, Photos) and then load them into a custom temporary Newsfeed class, so that it can be sorted by time and formatted. For photos, only caveat is tha

[2018-03-14 10:20] ryanbooker commented on #32
Done

[2018-03-14 10:20] #32 closed

[2018-03-15 00:02] ryanbooker opened #40 "Category pages are super slow"
Focusgroups, Fields, Platforms

[2018-03-15 00:02] ryanbooker opened #41 "Resizing word clouds is broken again"
Seems to be a bug with DOM based clouds (required for different linking colours)

[2018-03-15 00:48] ryanbooker opened #42 "Merge pluralised words with the singular version in the word count."
i.e. don't see "Coral" and "Corals".

[2018-03-15 00:48] ryanbooker commented on #41
seems to be a bug with DOM based clouds (required for different linking colours)

[2018-03-15 07:19] ryanbooker commented on #41
Fixed

[2018-03-15 07:19] #41 closed

[2018-03-15 22:11] pimbongaerts opened #43 "All text currently centered"
Since latest commit(s)

[2018-03-15 22:16] pimbongaerts commented on #43
Seems fine now

[2018-03-15 22:16] #43 closed

[2018-03-16 01:03] ryanbooker opened #44 "tag cloud is drawing smaller than it should"
No idea why this has started happening. Something to do with resizing?

[2018-04-03 23:22] pimbongaerts opened #45 "Background image behind map no longer showing"
The greyscale photo behind the map on the home page is not showing. Does not seem to get precompiled to asset folder: `http://mesophotic.org/assets/home_background_grey2.jpg`. Have tried to redo the precompile but does not help.. any ideas?

[2018-04-03 23:26] ryanbooker commented on #45
Not sure. I’ll have a look. :)

[2018-04-04 02:30] ryanbooker commented on #45
Fixed. Rails 5 asset helper urls are needed for css. Instead of url('home_background.jpg') it's image-url("home_background.jpg"). I also cleaned up a bunch of old unused images.

[2018-04-04 02:30] #45 closed

[2018-04-04 02:31] ryanbooker commented on #45
There seems to be an `public.old` directory on the server in `misonew` that can probably just be deleted.

[2018-04-11 00:52] pimbongaerts opened #46 "Update accidentally expired validations"
Due to import script that added additional external IDs to publications, many validations became expired. Solution is to query all publications with >=2 expired validations and refresh `updated_at` field.

[2018-04-11 00:52] #18 closed

[2018-04-18 03:33] pimbongaerts opened #47 "Page breaks if there is no contents for wordcloud"
Wordcloud in member pages seems to break (`undefined method `last' for nil:NilClass`) if none of the linked publications have their full text indexed. For example: mesophotic.org/members/237

[2018-04-20 01:57] pimbongaerts opened #48 "Missing div?"
Post page seems to render strangely? e.g. [this one](http://mesophotic.org/posts/early-life-history-traits-and-reproductive-ecology-of-brooding-coral-across-depth-gradient). Seems like missing div or something like that?

Maybe because of my latest merge? there were two conflicts with `application.css` and the `wordcloud.html.erb`

[2018-04-20 02:26] ryanbooker commented on #48
Fixed.

[2018-04-20 02:26] #48 closed

[2018-04-20 02:32] ryanbooker commented on #47
Do you have a current example of a page that gets this error, so I can see the trace?

[2018-04-20 02:34] ryanbooker commented on #47
I may have fixed this… But I don't have an example to test against. :)

[2018-04-20 02:34] #47 closed

[2018-04-26 10:24] ryanbooker opened #49 "Speed up word cloud calculation"

[2018-05-09 07:15] #49 closed

[2018-05-16 04:35] pimbongaerts opened #50 "Update repository README and About page"

[2018-05-16 04:45] pimbongaerts commented on #37
Decided not to pursue for now

[2018-05-16 04:46] #37 closed

[2018-05-16 04:50] pimbongaerts opened #51 "Clean up unused models and fields"
So that we can produce final ERD for release

[2018-05-16 08:27] #44 closed

[2018-05-16 08:39] #46 closed

[2018-05-16 09:17] #33 closed

[2018-05-23 05:24] pimbongaerts opened #52 "Keyword highlighting/classification"
- [x] Add species key word highlighting
- [x] Add species key word italicising
- [x] Add Species >-< Publication relation
- [x] Ignore short description unless long description appears as well
- [x] Also highlight shortened species name in abstracts/wordclouds (e.g. A. lamarcki)

Extend the keyword-highlighting beyond the short_description fields of the `Platform`, `Field`, `Location`, and `Focusg

[2018-05-23 09:53] pimbongaerts commented on #38
Created a page - only issue is that when you click on a photograph it returns to regular view and the Previous/Next photos cycle through all of the photos.

[2018-05-23 23:57] pimbongaerts opened #53 "Species show page currently breaks"
Species page breaks - as looking for association with Publications but not yet there. Realize this is part of the work-in-progress, but just flagging.

[2018-05-24 00:49] ryanbooker commented on #53
fixed.

[2018-05-24 00:49] #53 closed

[2018-07-18 06:34] veronicar239 opened #54 "Archived list of blog posts"
Hi @ryanbooker would you be able to please help make an index of blog posts on the News page? Currently on the News page (http://mesophotic.org/posts), you can only see recent blog posts and it is not possible to find older posts. Would you be able to make a multi-page archive of blog posts, with the most recent posts listed at the top of the main News page? I imagine the current number of blog po

[2018-07-19 03:14] ryanbooker commented on #54
Yep! :) I have a hald a species feature too, that I need to finish. :)

[2018-09-26 06:05] ryanbooker opened #57 "Deploy latest"
I update to Rails 5.2 and tried deploying. Phusion Passenger couldn't start the app, so I rolled back by checking out the previous deployed commit. I thought you might have a better idea about Phusion Passenger.

To deploy we need to:
1. `git checkout master`
2. `bundle exec rails db:migrate`
3. restart the server (this fails and I didn't want to leave it dead while I tried to work out why).

[2018-09-26 08:29] ryanbooker commented on #52
I'm not clear on what the Speciation job is for? Species highlighting is working…

[2018-09-26 18:41] pimbongaerts commented on #57
Had a look too - but also could not figure it out. Had a look in the Dreamhost Panel too, but the only Passenger setting you can adjust is the path of RVM (`/home/mesophotic/.rvm/wrappers/ruby-2.5.0/ruby`), which is still current and correct. So also rolled back for now - and maybe wait with upgrade for a while?

[2018-09-26 18:45] pimbongaerts commented on #54
I think all we'd need to do is add "pagination"?

[2018-09-26 21:45] ryanbooker commented on #57
Yeah maybe? When is a good time window to look at it? i.e. a good time for the site to be down? :\

[2018-09-26 21:46] ryanbooker commented on #54
So just add pagination to the main news page? Or a new separate Archive page?

[2018-09-26 22:02] pimbongaerts commented on #57
I think currently any time is fine - as long as we roll it back when we cannot figure it out. Looked at it for a while, but just could not find any leads to go on.

[2018-09-26 22:03] pimbongaerts commented on #54
Yes - I think that's all that is needed.

[2018-09-26 22:05] ryanbooker commented on #57
OK. I might look a bit future later. How do I look at the Dreamhost Panel? Is that something you're ok with me checking?

[2018-09-28 05:29] ryanbooker commented on #57
I've set the DreamHost RVM Ruby version to `/home/mesophotic/.rvm/wrappers/default/ruby` this way whatever we set on the command line as the default ruby is what will be used. No more need to edit DreamHost settings. Feel free to change the password back. :)

[2018-09-28 06:03] ryanbooker commented on #57
This fixes the underlying Ruby version issue. But I still can't get the server to restart with Rails 5.2. So we're still in a rollback branch. :) I'll keep looking as I have time.

[2018-09-28 23:35] ryanbooker commented on #57
I thought I logged a ticket, but I can't see it. So maybe I didn't.

[2018-09-28 23:59] ryanbooker commented on #57
Just to make thing clear, in case you have a look as well. I have created a branch called `rollback` that is the latest Rails 5.1.6 and updated gems. So you can always easily switch back to that branch and restart. So it _seems_ that it's Rails 5.2 related. I might try the update again, from the rollback branch and see how that goes. Maybe I just did something wrong and accidentally overrode a set

[2018-10-03 05:08] pimbongaerts commented on #52
I think it refers to the description below - a job where we query the occurrence of each Species in the full text of all the publication, so all those associations are buffered (rather than queried every single time). The other remaining addition would be the Keywords table, that would work in a similar fashion.

[2018-10-03 09:29] ryanbooker commented on #57
@pimbongaerts Fixed. The credentials system changed. I have updated the project to use the new encrypted credentials system.

[2018-10-03 09:31] #57 closed

[2018-10-03 10:15] ryanbooker commented on #54
done.

[2018-10-03 10:15] #54 closed

[2018-10-05 14:54] pimbongaerts commented on #57
Great that you managed to find out. Home page currently breaking with error though?

[2018-10-05 22:35] pimbongaerts commented on #52
Also - not sure whether we implemented the search for shortened species names (see last paragraph of original post)?

[2018-10-06 05:56] ryanbooker commented on #52
Ah cool. I'll double check that as well.

[2018-10-08 20:45] veronicar239 opened #58 "Outstanding minor fixes"
- [x] Publication metadata:  section "Details for Scientific (Review) Articles". A blank selection is needed under the dropdown menu for the "Journal" category. Technical reports do not have an associated journal, but at the moment each technical report is automatically (mistakenly) assigned the first alphabetically listed journal (Acta Ichthyol). For example see http://mesophotic.org/publications

[2018-10-10 18:42] pimbongaerts opened #59 "Create search field rather than dropdown for locations page"
@ryanbooker : Could we replace the existing locations dropdown with autocomplete search/text field? So that e.g. searching for Guam will automatically bring up "Micronesia - Guam"

@veronicar239: Collapse some of the redundant locations

[2018-10-11 00:02] ryanbooker commented on #59
Sure. :) What screen are we talking about?

[2018-11-13 05:16] veronicar239 commented on #59
I collapsed redundant locations and transferred any linked publications, images, etc. for
- Micronesia - Guam
- Micronesia - Caroline Islands (Pohnpei)
- Japan - Ryukyu Islands (Okinawa)

[2018-11-13 16:04] pimbongaerts commented on #59
That's great!

[2019-03-22 01:22] veronicar239 commented on #58
@pimbongaerts
For purpose of stats page, create new tag "Open circuit" to encompass current Platform tags 'Diving unspecified' and 'Diving open circuit' (and perhaps 'Diving technical' as well - to be decided). This will then be used to contrast between open circuit and 'Diving rebreather' tag for the platform types in the summary statistics page.

[2019-03-22 01:23] veronicar239 commented on #58
@pimbongaerts
Upload downloadable Rmarkdown file (for summary statistics) to Downloads page.

[2019-03-28 01:22] veronicar239 commented on #58
@pimbongaerts
The new Behind the Science post (http://www.mesophotic.org/posts/43 added on 28-3-19) is not showing on the main page http://mesophotic.org/posts. Further, I cannot find the post on any of the three pages of BTS posts (when I use control/find to look for the author's last name or keyword of the title).

1) Can you check that new posts are automatically added to the top of the 'posts'

[2019-04-01 08:11] veronicar239 commented on #58
I found a random publication that shows text that is 'center-aligned' rather than the usual 'left-hand-aligned'. This occurs both on the publication page as well as on the publication/edit page.  http://mesophotic.org/publications/352
http://mesophotic.org/publications/352/edit

[2019-04-01 22:47] pimbongaerts opened #60 "Metadata summary per page rather than search result"
When selecting a specific field on the `fields` pages - it summarizes the result by paginated page rather than overall search result

[2019-04-01 23:06] veronicar239 opened #61 "Blog post not showing on posts page"
@ryanbooker
The new Behind the Science post (http://www.mesophotic.org/posts/43 added on 28-3-19) is not showing on the main page http://mesophotic.org/posts. Further, the post is not showing on any of the three pages of archived BTS posts (I checked using control/find to look for the author's last name).

- [ ] new posts should automatically be added to the top of the 'posts' page
- [ ] all archi

[2019-04-01 23:07] veronicar239 opened #62 "open circuit tag"
@pimbongaerts
For purpose of stats page:

- [ ] create new tag "Open circuit" to encompass current Platform tags 'Diving unspecified' and 'Diving open circuit' (and perhaps 'Diving technical' as well - to be decided).

This will be used to differentiate between 'Diving - open circuit' and 'Diving - rebreather' tags for the platform types in the summary statistics page.

[2019-04-01 23:10] veronicar239 opened #63 "Stats page Rmarkdown"
After figures are edited/added: upload downloadable Rmarkdown file (for summary statistics) to Downloads page.

[2019-04-03 07:07] ryanbooker commented on #61
This is because something is still saving bool columns as 't' and 'f'. When they're supposed to be '1' and '0' now. :\

[2019-04-03 07:44] #61 closed

[2019-04-03 07:44] ryanbooker commented on #61
https://github.com/pimbongaerts/mesophotic/pull/64

[2019-04-03 07:52] ryanbooker commented on #60
This is probably the same anywhere that summaries are done because the collection will be the subset for display on that particular page…

[2019-04-03 08:02] ryanbooker commented on #60
Fixing this slows things down drastically. Fixing the Publication summary doesn't make much difference. Fixing the authors slows it down significantly, and fixing the word cloud slows it down to a crawl.

[2019-04-03 08:04] ryanbooker commented on #60
For now I've just fixed the Publication Summary.

[2019-04-04 00:12] ryanbooker commented on #60
I will look at rendering those summary boxes async, so they can do their calculations without holding up the entire page. Perhaps they can be cached somehow.

[2019-04-05 22:52] pimbongaerts commented on #62
This is a good suggestion. I replaced associations to platform IDs 3 (Diving - Technical...) and 6 (Diving - Regular...) with an association to ID 1 (Diving - unspecified) with the code below. And then renamed that category (ID 1) to "SCUBA (open-circuit or unspecified), and the rebreather category (ID 4) to "Rebreather" (for now). Platform IDs 3 and 6 are removed.

`	[3,6].each do |i|
		Platform.

[2019-04-05 22:52] #62 closed

[2019-04-05 23:32] pimbongaerts commented on #58
Fixed with dae73be

[2019-04-06 00:08] pimbongaerts commented on #58
Removed erroneous references to Acta etc through a script:

[code]

[2019-04-06 00:08] #58 closed

[2019-04-06 00:11] pimbongaerts commented on #63
Duplicate of #36

[2019-04-06 00:11] #63 closed

[2019-04-06 00:15] pimbongaerts commented on #60
Awesome. For the time being maybe we can just set a max. number of publications for which authors and word cloud will be shown/rendered?

[2019-04-06 05:25] pimbongaerts opened #65 "Show names of validators on publication show page"

[2019-04-06 05:44] pimbongaerts opened #66 "Upload most recent species lists for coral and fish"

[2019-04-06 05:55] pimbongaerts opened #67 "Show location in map even if it does not have associated sites"
also - clicking on sites not working (maybe just disable)

[2019-04-17 10:29] veronicar239 commented on #66
Some species pages are working (e.g. http://mesophotic.org/species/30) but others are not (e.g. http://mesophotic.org/species/180)

[2019-04-18 00:36] pimbongaerts opened #68 "Homepage currently crashing"
Seems related to latest publication - potentially due to missing field. Would you be able to have a quick look @ryanbooker - as I probably won't get a chance this evening?

[2019-04-18 01:40] ryanbooker commented on #68
I should be able to look today some time.

[2019-04-18 01:45] ryanbooker commented on #68
Fixed. https://github.com/pimbongaerts/mesophotic/pull/69

The author is missing initials: " Pichon". I've stopped it crashing if there are no initials.

[2019-04-28 23:54] pimbongaerts opened #70 "Downloadable CSV for pages"
Would be great if any of the pages showing the results of a simple publications query (listed below) provided a predictable link to download a CSV with the data. That would provide an easy way to download a relevant bibliography, or to run stats on those results directly from R. A link could be placed in the pagination sections, e.g.: ` 1 2 3 4 5 … Next › Last » [792 results] Download as csv `

-

[2019-05-02 21:51] pimbongaerts commented on #52
I have updated the issue description and removed the new keyword feature (that we had not yet started on). So I think what remains is just the highlighting of species in the format "A. lamarcki".

[2019-05-02 21:59] pimbongaerts opened #71 "Stats page slow"
The Stats page is extremely slow as it executes lots of individual queries (many of which are pretty inefficiently written). However, rather than rewriting the whole lot - could we have a message appear (along the lines of "Please hold while stats are being calculated...") before the rest of the page loads?

[2019-05-03 00:40] pimbongaerts commented on #65
ad935fc..b16a0d9

[2019-05-03 00:40] #65 closed

[2019-05-03 16:07] pimbongaerts opened #72 "Minor fixes"
- [ ] Make featured location photo always an underwater one

[2019-05-09 03:02] ryanbooker commented on #52
Did we want to do the "SpeciationJob" still? There is some gem stuff I've added for it at some point, but I haven't done the actual job yet… It would probably give some speed up, as currently we search for all species in all publications. Rather than just those that are valid for this specific publication.

[2019-05-09 04:28] ryanbooker commented on #52
https://github.com/pimbongaerts/mesophotic/pull/74

[2019-05-09 18:22] pimbongaerts commented on #52
I think we would use it, as it would then also allow us to easily list the number of publications for each species in the "Species page" (currently not working)? But not sure how much work it would be? Looks like you've already started setting up the link between species<->publications?

[2019-05-09 22:38] ryanbooker commented on #52
Yeah. The plumbing is all there. I have haven't added the SpeciationJob (I have it on a branch). I'll set it up next. :)

[2019-05-09 22:48] pimbongaerts commented on #52
Awesome!

[2019-05-27 10:34] ryanbooker commented on #70
https://github.com/pimbongaerts/mesophotic/pull/75

[2019-05-28 14:53] ryanbooker commented on #60
https://github.com/pimbongaerts/mesophotic/pull/76

[2019-05-28 14:53] #60 closed

[2019-05-29 03:35] ryanbooker commented on #71
https://github.com/pimbongaerts/mesophotic/pull/77

[2019-05-29 03:35] #71 closed

[2019-05-29 12:39] ryanbooker commented on #67
I think I've fixed this. I also made all the maps async.

[2019-05-29 12:39] #67 closed

[2019-06-06 20:06] pimbongaerts commented on #70
@ryanbooker could you check - the output of this seems to be capped at 10 publications? Also, publications.csv currently raising an error.

[2019-06-07 02:44] ryanbooker commented on #70
Ok. I'm sure that was all working! :D

[2019-06-07 15:46] pimbongaerts commented on #71
This works great btw!

[2019-06-08 05:27] veronicar239 opened #78 "[Stats page] Time series through 2018"
On the Stats page, the "Use of term mesophotic" graph and "potential refuge role" graph both show data through 2017 only. For consistency with other figures, could you update this so the data includes 2018? (I'll need to download the updated csv file for the time series figure for the paper)

@pimbongaerts

[2019-06-09 09:36] ryanbooker commented on #70
Fixed.

[2019-06-09 09:45] ryanbooker opened #79 "Web server links"

[2019-07-15 21:29] pimbongaerts opened #80 "Http vs Https"
Will we be transitioning over to HTTPS, if so - we should update all the hyperlinks in the manuscript. Let's discuss when we next chat?

[2019-07-16 23:23] ryanbooker commented on #80
OK. I've had great success with using "Let's Encrypt" to set up and maintain https.

[2019-07-24 00:29] pimbongaerts commented on #78
Changed it to always show until one year prior to the current year (`last_year = Time.now.year - 1`) 334d17a

[2019-07-24 00:29] #78 closed

[2019-07-29 13:11] ryanbooker commented on #79
I think we need to stop the web server from serving the pdfs directly. I can't capture them in a rails route at the moment.

[2019-08-06 23:45] pimbongaerts commented on #66
OK - I have updated the species `table` with the most recent species lists (now >1,500 entries).

- [ ] @ryanbooker - would you mind refreshing the species<->publications associations?

- [ ] @ryanbooker - would you know how to mention the total publications count for each species on the species index page? I have included a placeholder: `<span class="badge"><%# species.publications.count TODO %><

[2019-08-06 23:49] ryanbooker commented on #66
Ok. Haven't had a chance to do much of anything this week. :\

[2019-08-06 23:54] pimbongaerts opened #81 "Locations page currently breaks"
http://mesophotic.org/locations
`undefined method `original' for nil:NilClass`
` <% if @publications.original.present? %>`

Was this a scope that inadvertently got deleted?

[2019-08-06 23:55] ryanbooker commented on #81
The error means `@publications` is nil. I will have to have a look.

[2019-08-06 23:57] ryanbooker commented on #81
Which location is breaking? I just picked one at random "32" and it worked. So I guess there is a location with no publications. That should be easy to handle. :)

[2019-08-06 23:58] #72 closed

[2019-08-06 23:59] pimbongaerts commented on #81
the index page itself: http://mesophotic.org/locations

[2019-08-07 00:01] pimbongaerts commented on #66
JK

[2019-08-07 00:05] ryanbooker commented on #81
Fixed.

[2019-08-07 00:05] #81 closed

[2019-08-07 00:11] pimbongaerts commented on #81
awesome!

On Tue, 6 Aug 2019 at 17:05, Ryan Booker <notifications@github.com> wrote:

[2019-08-07 00:17] pimbongaerts commented on #51
Some models/fields still relevant for future development. So instead recompiled ERD, and will clean that up manually in Illustrator

[2019-08-08 00:56] ryanbooker commented on #66
https://github.com/pimbongaerts/mesophotic/pull/82

[2019-08-08 00:56] ryanbooker commented on #52
https://github.com/pimbongaerts/mesophotic/pull/82

[2019-08-08 00:57] #52 closed

[2019-08-08 00:57] ryanbooker opened #83 "Ensure Species names aren't singularised"
- [ ] The singularization in word clouds gives many weird outcomes (Agaricium for the genus Agaricia, Madraci for the genus Madracis) - probably need to disable this and accept that we will have multiple entries in the word cloud?

[2019-08-08 04:19] #66 closed

[2019-08-13 00:38] ryanbooker commented on #83
Is there a way to get a master list of the words we don't want singularised? Do they just come from the species names?

[2019-08-13 00:43] pimbongaerts commented on #83
Yes - just from species names!

On Mon., 12 Aug. 2019, 17:38 Ryan Booker, <notifications@github.com> wrote:

[2019-08-14 11:58] #83 closed

[2019-08-14 14:08] pimbongaerts commented on #70
Would it actually be possible to give this one priority? Just as Veronica is hoping to redo these stats asap?

[2019-08-15 01:40] ryanbooker commented on #70
https://github.com/pimbongaerts/mesophotic/pull/84

[2019-08-15 01:40] #70 closed

[2019-08-18 07:32] #51 closed

[2019-08-18 07:33] #50 closed

[2019-08-18 07:33] #36 closed

[2019-08-18 07:46] pimbongaerts opened #85 "Stats page"
The `include_in_stats` scope from `publications.rb` should only consider `validated` publications, but that criterion was missing from the scope. I have now added the `validated` scope inside the `include_in_stats` scope, but it does not seem to affect the number of publications considered on the stats page? (734 instead of 689) @ryanbooker - would you mind having a look at that?

Similarly, in th

[2019-08-19 23:24] ryanbooker commented on #85
Ok. I'll have a look.

[2019-08-19 23:26] ryanbooker commented on #85
[ ] - Include_in_stats should only return validated results
[ ] - Summarised_journals, summarised_focusgroups etc, should only use validated results (as above)
[ ] - Express stats as %, e.g. GBR count / All locations count

[2019-09-04 15:29] ryanbooker commented on #85
This is quite difficult. I think it will take a fair amount of refactoring the scopes etc. The big scopes list `included_in_stats` and `relevance` don't play well together. They conflict with each other and you get back incorrect results (if any).

[2019-09-04 23:00] ryanbooker commented on #85
I just stayed up and did this. So all the stats *should* be using the correct set of publications now.

[2019-09-05 08:39] ryanbooker commented on #85
As far as I can tell the percentages are already expressed as a percentage of the category total.

[2019-09-05 08:39] #85 closed

[2019-09-25 15:13] ryanbooker commented on #79
I've hidden the PDFs in a non public directory, and set up routing to serve the PDFs to admin/editor users. The PNG thumbnails are served to everyone.

[2019-09-25 15:13] #79 closed

[2019-10-02 19:36] pimbongaerts opened #87 "Species page"
Reviewer reports that when clicking on a specific species that they get an error message. However, have not yet been able to reproduce - need to look into further.

[2019-10-02 19:41] pimbongaerts commented on #68
Homepage currently crashing on something again?

[2019-10-02 23:11] pimbongaerts commented on #68
Seems to have something to do with twitter authentication:
F, [2019-10-02T16:10:10.645700 #8206] FATAL -- : [7e6a7933-e22d-42f8-b5c8-5d1af8669829] ActionView::Template::Error (Bad Authentication data.):
F, [2019-10-02T16:10:10.645850 #8206] FATAL -- : [7e6a7933-e22d-42f8-b5c8-5d1af8669829]     48:
[7e6a7933-e22d-42f8-b5c8-5d1af8669829]     49:       </div>
[7e6a7933-e22d-42f8-b5c8-5d1af8669829]

[2019-10-03 01:49] ryanbooker commented on #68
Did our twitter keys change? I don't have the twitter login details to check…

[2019-10-03 01:51] pimbongaerts commented on #68
No they should still be the same

On Wed., 2 Oct. 2019, 18:49 Ryan Booker, <notifications@github.com> wrote:

On Wed., 2 Oct. 2019, 18:49 Ryan Booker, <notifications@github.com> wrote:

[2019-10-03 02:00] ryanbooker commented on #68
It doesn't look like the API has changed… but we get Bad Authorization exception from Twitter. Which seems like our credentials are wrong.

[2019-10-03 02:10] ryanbooker commented on #68
For now I've stopped it crashing, and I've also started caching the twitter results incase we've started hitting a limit and that's what the error means…

To investigate further I think I need the twitter login details to check the app setup etc.

[2019-10-03 02:12] ryanbooker commented on #87
ok. Do we know the specific species?

[2019-10-03 03:07] pimbongaerts commented on #87
Unfortunately not. I tried a whole lot of them, but they all worked okay.

On Wed., 2 Oct. 2019, 19:12 Ryan Booker, <notifications@github.com> wrote:

[2019-10-03 15:11] pimbongaerts commented on #68
Looks like our twitter account is suspended (but no reason why). Have filed appeal query to figure out what's going on.

[2019-10-03 15:55] pimbongaerts commented on #68
Account unsuspended and homepage working again!

[2019-10-03 16:01] pimbongaerts commented on #68
But now noticing that the highcharts are not loading anymore? (checked homepage and location pages)

[2019-10-03 22:57] ryanbooker commented on #68
But nothing has changed there? :\ I'll have a look.

[2019-10-04 03:06] ryanbooker commented on #68
Fixed.

[2019-10-04 03:06] #68 closed

[2019-11-07 06:43] veronicar239 opened #89 "Error new blog post"
I put up a new Behind the Science post but the page gives an error:

http://mesophotic.org/posts/51
or
http://mesophotic.org/posts/temporal-disparity-in-the-sexual-reproduction-of-zooxanthellate-octocorals

@ryanbooker if you could please have a look when you have a chance?

[2019-11-21 21:10] ryanbooker commented on #89
Fixed. :)

[2019-11-21 21:10] #89 closed

[2020-06-23 17:57] veronicar239 opened #97 "New/merged Focus group "Symbiodiniaceae""
Should we edit the current Focus group "Symbiodinium" (focus group #4) to include "Symbiodiniaceae"? Or make a merged focus group "Symbiodiniaceae" that picks up the keywords "Symbiodiniaceae" and "Symbiodinium"? At present, "Symbiodinium" is picked as focus group #4 but newer publications using the family name "Symbiodiniaceae" and potentially looking at non-Symbiodinium genera would not be picke

[2020-06-23 19:17] veronicar239 opened #98 "Back end format - revised Behind the Sci layout"
@pimbongaerts I have a new post ready and had added the two questions (e.g., mee-so/meh-so -photic) to the Behind the Science post format but realized that this formatting on the back-end has only been done for the "Early Career Scientist" post format. I think this mostly just has to do with those top 2 short questions and the header of the post?

The format works (incorrectly) as an Early Career

[2020-06-28 21:08] pimbongaerts commented on #98
Not sure how to easily solve this - as the issue is that all the old BTS post then will not comply with the new format? (as they don't have those additional questions)

[2020-09-15 18:09] gonzaloprb opened #100 "Credit for adding a publication"
Hello Ryan, @ryanbooker

With Pim we agreed that it would be good to add in the metadata section of a subpage publication the name of the person who added the manuscript and the metadata.

Currently it only gives the information on Validated by: "Name" "Name"
It would be great if on top we can add : "Added By" : "Name" ; Validated by: "Name" "Name"

Thanks in advance
Gonzalo

<img width="434" alt=

[2020-10-21 12:48] veronicar239 opened #101 "Update current contributors list"
"Current contributors" list on the About page needs to be updated with current team members

http://mesophotic.org/about

[2020-10-25 23:12] pimbongaerts commented on #101
Thank you for the reminder. Have updated the list!

[2020-10-25 23:23] pimbongaerts commented on #100
@ryanbooker - would you be able to have a look at implementing this? Currently the associated "users" in Publications are the authors of each publication. But maybe we can introduce a separate field in Publications (e.g. "contributor_id"), and moving forward, link each publication to the user that added it? (We just have to make sure we catch all the current publications without a contributor_id i

[2020-10-25 23:29] pimbongaerts commented on #97
Have to consult @ryanbooker here - as he created the keyword links in abstracts and wordclouds: does it split the strings in 'Short description' and searches those separately? If so, would it just be a matter of adding this extra keyword?

[2020-10-26 22:28] ryanbooker commented on #97
I can't remember. But I'll have a look. :)

[2020-10-26 22:30] ryanbooker commented on #100
Yeah. No problem. I somehow missed the initial question. :)

[2020-10-27 08:16] gonzaloprb commented on #100
Hello Ryan,

This was the initial question:

One little question, do you think you may edit the information of the paper and add: “Publication added by: Name”; Validated by: “Name"

Perhaps this will encourage even more people on the team to add the publications because currently there is not credit of that action. If not possible or complicated, do not worry about it.

Cheers,
Gonzalo

- -
Gonzal

[2020-10-27 19:12] veronicar239 opened #102 "Images metadata summary"
On the Photos page, the section on the right-hand side "Images metadata summary (top 5 / category)" displays a summary only of the subset of images shown on that specific (paginated) page (rather than a summary of the whole image bank). Would it be better for the Images metadata summary to characterize the metadata of all of the images? Currently, the summary is dominated by the few Behind the Sci

[2020-11-09 12:59] ryanbooker commented on #100
The user who creates a publication is now added as the "Contributor" and displayed with the Validating users.

[2020-11-09 12:59] #100 closed

[2020-11-09 15:31] gonzaloprb commented on #100
Thank you Ryan and Pim,
Gonzalo

[2020-11-11 00:00] ryanbooker commented on #97
Done. :)

[2020-11-11 00:00] #97 closed

[2020-11-20 04:28] AIHAgreda opened #103 "No pdf attachment"
While creating a new record for book chapters (I don't think this happening for journal articles - I think), we're not able to attach pdfs. We can select the pdf and seems to be uploading, but after pressing 'Update publication', we're getting the error:

Pdf Paperclip::Errors::NotIdentifiedByImageMagickError

[2020-12-10 21:45] pimbongaerts commented on #103
Would you mind having a look at this @ryanbooker ? They are trying to get these finished by the end of the year, but they have an issue with the PDF upload. @AIHAgreda - can you send @ryanbooker  an example of a PDF that fails to upload, so that he can repeat the error?

[2020-12-11 06:56] ryanbooker commented on #103
ok

[2020-12-16 05:43] AIHAgreda commented on #103
Sure. I just sent it an email with the example.

[2020-12-16 07:41] ryanbooker commented on #103
Thanks!

[2020-12-17 01:17] ryanbooker commented on #103
This appears to be imageMagic failing to create the PNG preview images from the PDF. However all the correct tools are still installed not eh server. ImageMagick and Ghostscript.

@pimbongaerts Is there any kind path setup that needs to be fixed somewhere in the general Dreamhost setup? Maybe they reset something in those updates.

I also tried reinstalling gems, which has failed running out of sp

[2020-12-17 03:10] ryanbooker commented on #103
We're back up. Unfortunately reinstalling the gems didn't fix the issue.

[2020-12-17 03:47] ryanbooker commented on #103
For now, I've disabled the preview generation for PDFs.  Which should allow you to upload them.

[2020-12-17 04:03] pimbongaerts commented on #103
But won't that give us issues later? As we are using those previews across the website?
Maybe better to not upload PDFs until this is resolved?

[2020-12-17 04:14] ryanbooker commented on #103
I can change it back if you want, I thought you said we need to get things uploaded before Xmas?

I have no idea why Rails can't find the Ghostscript stuff. It's all installed. The only thing that has changed in that regard is Dreamhost updating stuff. Are there paths that need to be set somewhere, or anything like that?

[2020-12-17 04:38] pimbongaerts commented on #103
We need all the publications added yes, but ideally with all the previews too, as adding those later may be difficult with paperclip? Or do you think that could be straight-forward?

Attached the only setting that you can change.
![Screen Shot 2020-12-17 at 5 36 32 PM](https://user-images.githubusercontent.com/735720/102444602-78229c80-408e-11eb-9b3f-5c2d92c29c0c.png)

Would it be worth trying to

[2020-12-17 04:43] ryanbooker commented on #103
I think we should log a ticket with them.

[2020-12-17 04:45] ryanbooker commented on #103
I have no idea how hard it will be to generate them later.

I also noticed that `Paperclip` is no longer in development. We're supposed to use `ActiveStorage` now. But that seems like a significant change with lots of database and data migrations. Not something to try to quickly push out.

[2020-12-17 04:45] ryanbooker commented on #103
I have reenable the image generation.

[2020-12-18 06:30] ryanbooker commented on #103
Ok. On my local machine over last night and today I have migrated from `Paperclip` to `ActiveStorage` for managing uploaded files. Everything seems to work fine and I've written myself a little migration plan/checklist to update the server. It will take several stages, and probably 30 min to 1 hr. I'll do it later on this evening.

After I've done the migration, PDF uploading will work. Previews o

[2020-12-18 07:50] ryanbooker commented on #103
Done. Everything seemed to update and work smoothly. Even PDF previews appear to be working.

**_Please let me know if anything is broken._**

[2020-12-18 07:50] #103 closed

[2020-12-18 07:53] ryanbooker opened #104 "Remove Paperclip data"
When it's clear Paperclip -> ActiveStorage migration worked, remove the backup Paperclip data.

[2020-12-18 15:08] veronicar239 commented on #103
@ryanbooker thanks for all this! However, I tried to edit a publication to upload the missing PDF but a general error occurs: "We're sorry, but something went wrong. If you are the application owner check the logs for more information." I also tried to get to the edit page of other random publications, and received the same error.

For reference, this is the publication I'm trying to edit:
http://

[2020-12-18 18:17] AIHAgreda commented on #103
@ryanbooker I'm getting the same error that @veronicar239 mentioned when trying to edit book chapters. See below:

![Screen Shot 2020-12-18 at 10 11 09 AM](https://user-images.githubusercontent.com/22438632/102646750-72be6400-4119-11eb-96db-8fcf78f46c23.png)

Here an example: http://mesophotic.org/publications/949/edit

[2020-12-19 10:15] ryanbooker commented on #87
Closing. It will pop up again, if we find the issue. :)

[2020-12-19 10:15] #87 closed

[2021-01-20 17:08] AIHAgreda opened #106 "Is Mesophotic.org down?"
Hi @pimbongaerts and @ryanbooker - it looks like the page is down again
![Screen Shot 2021-01-20 at 9 01 01 AM](https://user-images.githubusercontent.com/22438632/105209639-e976c480-5afe-11eb-87f7-6c28d39a6517.png)

[2021-01-20 22:58] ryanbooker commented on #106
Seems to be ok now…

[2021-01-20 23:01] pimbongaerts commented on #106
I restarted the VPS. Not sure why it keeps happening though?

On Thu, Jan 21, 2021, 11:58 AM Ryan Booker <notifications@github.com> wrote:

[2021-01-20 23:39] ryanbooker commented on #106
Not sure. Seems like a questions for Dreamhost… I'll ask them. Is this the second time we've had to do that?

[2021-01-21 00:02] pimbongaerts commented on #106
Sounds good! I think the third or fourth time.

On Thu, 21 Jan 2021 at 12:39, Ryan Booker <notifications@github.com> wrote:

[2021-01-21 00:14] ryanbooker commented on #106
Ticket lodged

[2021-01-21 06:33] ryanbooker commented on #106
They replied with basically: We can't see anything wrong, or any errors in settings. Let us know if it keeps happening.

[2021-01-27 15:59] veronicar239 commented on #106
Seems like some select pages such as the About page are down? But the Publications page and Photos page are working fine.

http://mesophotic.org/about

<img width="1157" alt="Screen Shot 2021-01-27 at 10 57 35 am" src="https://user-images.githubusercontent.com/25621305/106017515-8650d900-608e-11eb-9cf4-953ef39fa4ce.png">

[2021-01-28 07:58] ryanbooker opened #107 "Some pages not working"
Seems like some select pages such as the About page are down? But the Publications page and Photos page are working fine.

http://mesophotic.org/about

<img width="1157" alt="Screen Shot 2021-01-27 at 10 57 35 am" src="https://user-images.githubusercontent.com/25621305/106017515-8650d900-608e-11eb-9cf4-953ef39fa4ce.png">

_Originally posted by @veronicar239 in https://github.com/pimbongaerts/mesop

[2021-01-28 07:59] ryanbooker commented on #106
Ok. I've opened a separate issue (#107), and I'll look into it.

[2021-01-28 09:06] ryanbooker commented on #107
/about
/locations

[2021-01-28 09:44] ryanbooker commented on #107
Fixed.

[2021-01-28 09:44] #107 closed

[2021-01-30 10:40] ryanbooker commented on #106
FYI. I had to reboot the VPS again this afternoon. So I have logged another ticket.

[2021-02-01 10:49] ryanbooker commented on #106
Dreamhost replied with some useful information. They said the site keeps hitting a memory limit. So we need to look into that… I've added "New Relic" monitoring. I've used it before on another site. It gives some useful metrics re memory usage and speed etc.

[2021-02-03 00:41] pimbongaerts commented on #106
Site just went down again, so restarted VPS

[2021-02-06 07:48] ryanbooker commented on #106
I've made several changes that I hope will reduce the memory footprint of several pages. Let's see… :)

[2021-02-09 23:30] ryanbooker commented on #106
Problem seems mostly related to
[]- publications#index csv generation
[]- summary#summary_keywords

[2021-02-12 05:13] ryanbooker commented on #104
- [ ] Ensure that `/publications/pdfs` paths are all using active storage
- [ ] Ensure active storage paths to pdfs are still protected

[2021-02-14 06:05] #104 closed

[2021-02-18 18:50] AIHAgreda commented on #106
Hi @ryanbooker and @pimbongaerts - it happened again
<img width="653" alt="Screen Shot 2021-02-18 at 10 46 32 AM" src="https://user-images.githubusercontent.com/22438632/108406198-f1498780-71d6-11eb-9a0a-9fbdae0b8310.png">

[2021-02-22 20:39] pimbongaerts commented on #106
VPS restarted. @ryanbooker - again related to memory footprint?

[2021-02-22 22:27] ryanbooker commented on #106
I assume so. But I'm not sure what. It looks like it died just before midnight last night, and memory usage then seems to have been only around 300MB, well under the VPS memory, and I've spent the last week or more, reducing memory usage in some key places, and speeding several things up in the process…

I thought it was keywords/wordcloud generation as that was a hugely slow and memory inefficien

[2021-02-23 00:13] ryanbooker opened #109 "Add proper caching, instead of just using memory_cache"

[2021-02-23 00:15] ryanbooker opened #110 "Permanently cache species images"

[2021-02-23 00:18] ryanbooker opened #111 "Offload word frequency calculation to the DB, if possible."

[2021-02-23 01:25] pimbongaerts commented on #106
Thanks so much for looking into it Ryan!

[2021-03-04 13:06] ryanbooker commented on #111
Updated ruby and refactored code instead, at least an order of magnitude faster and doesn't create as many new objects. DB version worked, but on large publication lists was much slower and required far more memory.

[2021-03-04 13:06] #111 closed

[2021-03-06 08:45] #110 closed

[2021-03-13 22:20] veronicar239 commented on #106
Hi @ryanbooker , I just added 6 new photos and while they show on the Images page (http://www.mesophotic.org/photos) and in the specific Behind the Science post (http://www.mesophotic.org/posts/68), the individual photo pages show error messages. For example, http://www.mesophotic.org/photos/420 shows the error log message "We're sorry, but something went wrong."

However, other (older) individual

[2021-03-14 11:51] ryanbooker opened #112 "Image pages failing for new images"
Hi @ryanbooker , I just added 6 new photos and while they show on the Images page (http://www.mesophotic.org/photos) and in the specific Behind the Science post (http://www.mesophotic.org/posts/68), the individual photo pages show error messages. For example, http://www.mesophotic.org/photos/420 shows the error log message "We're sorry, but something went wrong."

However, other (older) individual

[2021-03-14 11:52] ryanbooker commented on #112
@veronicar239 Thanks. I'll have a look.

[2021-03-14 12:03] ryanbooker commented on #112
Fixed. :)

[2021-03-14 12:03] #112 closed

[2021-03-14 12:04] ryanbooker commented on #106
I think I've solved this memory issue, at least enough for the moment. Closing this issue. :)

[2021-03-14 12:04] #106 closed

[2021-03-14 12:21] ryanbooker opened #113 "Remove old paperclip columns"

[2021-03-14 14:38] veronicar239 commented on #112
Awesome, thanks @ryanbooker !

[2021-03-17 21:13] veronicar239 opened #114 "server error - Phusion Passenger server"
Hi @ryanbooker, not sure if this is a new issue or linked to the previous issues but the new mesophotic blog post I put up is not working: http://www.mesophotic.org/posts/68

The error message is:

<img width="569" alt="Screen Shot 2021-03-17 at 5 11 37 pm" src="https://user-images.githubusercontent.com/25621305/111539239-04069c00-8744-11eb-9543-a0280407ab38.png">

[2021-03-17 21:40] pimbongaerts commented on #114
I restarted the VPS just as a quick fix - but not sure what's going on as server has been going down lots lately.

[2021-03-17 21:51] ryanbooker commented on #114
It looks like the server stoped responding at about 0630. It doesn't _look_ like memory usage was super high at that time… but I'm not sure. I'll try to investigate later.

[2021-03-30 21:47] pimbongaerts commented on #114
Over past 2 weeks, again several times it went down. Should we inquire with dreamhost?
In the meantime, @ryanbooker - would it maybe an idea to set up a cron job that sends us an email if the site is down?

[2021-04-02 16:29] veronicar239 commented on #106
Sorry to re-open this @ryanbooker but the same initial error message is showing again!

<img width="558" alt="Screen Shot 2021-04-02 at 12 29 15 pm" src="https://user-images.githubusercontent.com/25621305/113434490-0fe29700-93af-11eb-8e70-8f3a22889617.png">

[2021-04-02 21:27] pimbongaerts commented on #106
Just restarted VPS in the meantime

[2021-04-03 07:44] ryanbooker commented on #114
We can ask them again. I think they'll just say "memory". I will keep looking for more things.

I suspect image caching for species images.

Probably a good idea to set up some kind of notification.

[2021-04-11 23:01] pimbongaerts commented on #114
OK - I have set up an email alert, so we can at least restart faster after going down.

[2021-04-29 18:08] veronicar239 opened #115 "Error: "Incomplete response received from application""
Hi @ryanbooker I'm not sure if this is related to other issues but I was trying to upload metadata for a new publication (http://www.mesophotic.org/publications/new) and it resulted in an error message "Incomplete response received from application"?

[2021-04-29 21:34] ryanbooker commented on #115
Ok, thanks. I'll have a look.

[2021-05-13 07:13] ryanbooker commented on #115
Hi @veronicar239 Have you seen this again? Did it eventually work for the publication you were trying to upload?

[2021-05-17 18:47] veronicar239 commented on #115
Hi @ryanbooker @pimbongaerts I just tried again and it worked! I just added one new publication but assuming it should work fine for all new publications. For reference, the new publication is http://www.mesophotic.org/publications/979/

[2021-05-17 23:21] ryanbooker commented on #115
Great! I'll close this for now, but please let me know if it happens again. :)

[2021-05-17 23:21] #115 closed

[2021-05-26 21:38] AIHAgreda commented on #114
Hi @pimbongaerts and @ryanbooker the server seems to be down again. See below
![Screen Shot 2021-05-26 at 2 36 31 PM](https://user-images.githubusercontent.com/22438632/119734456-e46cad80-be2f-11eb-86f4-aec7695ff758.png)